body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Futura, sans-serif;
}

/*      HOME PAGE
---------------------------------
--------------------------------- */

#home-page {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.main-container {
    margin: 0.5%;
    background-color: grey;
    min-height: 98%;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;

}


/* PAGE HEADER */

/* .page-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1%;
} */




/* menu bar */

.menu-container {
	position: relative;
    display: inline-block;
	width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;

}

.menu-container:hover {
	cursor: pointer; 
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #DFD9C5;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Dropdown Content (Hidden by Default) */

.dropList {
	display: none;
    position: absolute;
    margin: 0;
    padding-left: 5%;
    padding-top: 0;
    z-index: 1;
}

/* Links inside the dropdown */
.dropList a {
    color: #DFD9C5;
    padding-left: 35px;
    text-decoration: none;
}

.menuItem {
    text-align: left;
    display: inline;
    float: left;
}

/* Change color of dropdown links on hover */

.dropList a:hover {
	cursor: pointer;
    color: rgb(161, 157, 143);
    transition: color 0.5s;
}

/* Show the dropdown menu on click */

/* .menu-container:target {
    display: block;
} */

.menu-container:hover .dropList {
    display: block;
}


/* home page grid portfolio */

.left-box {
    position: relative;
    display: block;
    min-height: 100%;
    width: 50%;
    background-color: transparent;
    background-size: 100%;
    border-right-style: solid;
    border-right-color: #E0A41E;
    border-right-width: 3px;
}

.tagline {
    padding-top: 65%;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    padding-right: 2%;
    text-transform: uppercase;
    color: #DFD9C5;
}

.right-box {
    position: relative;
    display: block;
    min-height: 100%;
    width: 50%;
}

.top-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #E0A41E;
    border-bottom-width: 3px;
}

.one-box, .two-box {
    width: 50%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: #DFD9C5;
}

.one-box {
    padding-top: 40.5%;
    background-color: transparent;
    border-right-style: solid;
    border-right-color: #E0A41E;
    border-right-width: 3px;
}

.port-1, .port-2, .port-3 {
    padding-left: 5%;
}

.one-box:hover {
    cursor: pointer;
}

.port-1:hover, .port-2:hover, .port-3:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #DFD9C5;
}


.logo {
    font-family: Futura, sans-serif;
   text-align: left;
    text-transform: uppercase;
    color: #DFD9C5;
    font-size: 21px;
    width: 100%;
    margin-top: 3%;
    padding-left: 25%;
}

.port-2 {
    padding-top: 68%;
    padding-bottom: 20%;
}

.port-3 {
    width: 100%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: #DFD9C5;
    padding-top: 35%;
    padding-left: 2%;
}

.social {
    color: #DFD9C5;
    width: 97%;
    margin-top: 5%;
    text-align: right;


}